.deck-spacing {
  margin: 15px !important;
}

.form-input {
  text-align: left;
}

.hidden-btn {
  display: none !important;
}

.btn-spacing {
  margin-right: 10px;
}

.card-spacing {
  margin: 10px !important;
}

.header-spacing {
  margin: 10px !important;
}

