button {
  background-color: white;
  border: none;
}

.container-fluid {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

.display {
  display: block;
}

video {
  /* fit parent container  */
  width: 100%;
}

#remote-user-videos {
  margin: 40px 0 0 0;
}

#input-node {
  background-image: url("../../../../public/inputNode.svg");
}

#output-node {
  background-image: url("../../../../public/outputNode.svg");
}

#default-node {
  background-image: url("../../../../public/defaultNode.svg");
}

#splitter-node {
  background-image: url("../../../../public/splitterNode.svg");
}

#default-edge {
  background-image: url("../../../../public/defaultEdge.svg");
}

#straight-edge {
  background-image: url("../../../../public/straightEdge.svg");
}

#step-edge {
  background-image: url("../../../../public/stepEdge.svg");
}

.drop-icon {
  height: 40px;
  width: 80px;
  margin: 5px 0 5px 5px;

  border-radius: 3px;
}

.two-grid {
  margin: 0 auto;
}

.no-padding-margin {
  padding: 0 !important;
  margin: 0 !important;
}

.share-button {
  margin-top: 5px;
}

/* .email-input {
  margin-top: 50px;
} */

.text-color {
  color: #0dcaf0;
  margin-bottom: 10px;
}

.spacer {
  margin-top: 40px;
}

.hidden {
  display: none !important;
}

.form-input {
  text-align: left;
}

.mute-text {
  margin-left: auto;
  margin-right: 10px;
  color: #ff4d4d;
}

.mute-wrapper {
  display: flex;
  margin-bottom: 10px;
}
